env
*.DS_Store
*.pyc
__pycache__
settings.py

# C extensions
*.so

*.json

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

.installed.cfg
bin/*
develop-eggs
downloads
eggs
log
parts
media/*
tmp

# Translations
*.mo
*.pot

# Django stuff:
*.log
